@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
   width: 10px;
 }
 
 ::-webkit-scrollbar-track {
   background-color: hsl(0, 0%, 98%);
 }
 
 ::-webkit-scrollbar-thumb {
   background-color: #8f94fb;
 }
 
 ::-webkit-scrollbar-thumb:hover {
   background-color: #888efd;
 }

.bg-blue-gradient {
  background: rgba(94, 94, 94, 0.6);
}

input::placeholder {
   color: #000;
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}


/* big spinner */

.spinner {
   width: 11.2px;
   height: 11.2px;
   animation: spinner-o824ag 0.8s infinite linear;
}

.spinner div {
   position: absolute;
   width: 100%;
   height: 100%;
   background: #080707;
   border-radius: 50%;
   animation: spinner-vse6n7 1s infinite ease;
}

.spinner div:nth-child(1) {
   --rotation: 90;
}

.spinner div:nth-child(2) {
   --rotation: 180;
}

.spinner div:nth-child(3) {
   --rotation: 270;
}

.spinner div:nth-child(4) {
   --rotation: 360;
}

@keyframes spinner-vse6n7 {
   0%, 100% {
      transform: rotate(calc(var(--rotation) * 1deg)) translateY(0);
   }

   50% {
      transform: rotate(calc(var(--rotation) * 1deg)) translateY(300%);
   }
}

@keyframes spinner-o824ag {
   to {
      transform: rotate(360deg);
   }
}

/* minispinner */
.mini-spinner {
   width: 14px;
   height: 14px;
   border-radius: 50%;
   padding: 0.5px;
   background: conic-gradient(#0000 10%,#d9d9de) content-box;
   -webkit-mask: repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
        radial-gradient(farthest-side,#0000 calc(100% - 3.8px),#000 calc(100% - 3.8px));
   -webkit-mask-composite: destination-in;
   mask-composite: intersect;
   animation: spinner-d55elj 0.6s infinite steps(10);
}

@keyframes spinner-d55elj {
   to {
      transform: rotate(1turn);
   }
}


/* background animation */

.area{
   background: #8f94fb;  
   background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
   width: 100%;
   height:100vh;
}

.circles{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
}

.circles li{
   position: absolute;
   display: block;
   list-style: none;
   width: 20px;
   height: 20px;
   background: rgba(255, 255, 255, 0.2);
   animation: animate 25s linear infinite;
   bottom: -150px;
   
}

.circles li:nth-child(1){
   left: 25%;
   width: 80px;
   height: 80px;
   animation-delay: 0s;
}


.circles li:nth-child(2){
   left: 10%;
   width: 20px;
   height: 20px;
   animation-delay: 2s;
   animation-duration: 12s;
}

.circles li:nth-child(3){
   left: 70%;
   width: 20px;
   height: 20px;
   animation-delay: 4s;
}

.circles li:nth-child(4){
   left: 40%;
   width: 60px;
   height: 60px;
   animation-delay: 0s;
   animation-duration: 18s;
}

.circles li:nth-child(5){
   left: 65%;
   width: 20px;
   height: 20px;
   animation-delay: 0s;
}

.circles li:nth-child(6){
   left: 75%;
   width: 110px;
   height: 110px;
   animation-delay: 3s;
}

.circles li:nth-child(7){
   left: 35%;
   width: 150px;
   height: 150px;
   animation-delay: 7s;
}

.circles li:nth-child(8){
   left: 50%;
   width: 25px;
   height: 25px;
   animation-delay: 15s;
   animation-duration: 45s;
}

.circles li:nth-child(9){
   left: 20%;
   width: 15px;
   height: 15px;
   animation-delay: 2s;
   animation-duration: 35s;
}

.circles li:nth-child(10){
   left: 85%;
   width: 150px;
   height: 150px;
   animation-delay: 0s;
   animation-duration: 11s;
}



@keyframes animate {

   0%{
       transform: translateY(0) rotate(0deg);
       opacity: 1;
       border-radius: 0;
   }

   100%{
       transform: translateY(-1000px) rotate(720deg);
       opacity: 0;
       border-radius: 50%;
   }

}